<ion-split-pane contentId="band-content" when="true">
  <ion-menu contentId="band-content" menuId="band-menu" type="reveal">
    <ion-content>
      <header class="menu-brand">
        <div class="menu-brand__mark">
          <ion-icon aria-hidden="true" name="albums-outline" />
        </div>
        <div>
          <p>Workspace</p>
          <h1>Band</h1>
        </div>
      </header>

      <ion-list class="menu-nav" lines="none">
        @for (section of sections; track section.key) {
          <ion-menu-toggle [autoHide]="false">
            <ion-item
              [detail]="false"
              [routerLink]="sectionHref(section.key)"
              routerLinkActive="is-active"
              [routerLinkActiveOptions]="{ exact: false }"
            >
              <ion-icon aria-hidden="true" slot="start" [name]="section.icon" />
              <ion-label>{{ section.label }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        }
      </ion-list>

      <ion-list class="menu-footer" lines="none">
        <ion-menu-toggle autoHide="false">
          <ion-item button detail="false" routerLink="/bands">
            <ion-icon aria-hidden="true" slot="start" name="arrow-back-outline" />
            <ion-label>Cambia band</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="band-content" />
</ion-split-pane>
