<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="/bands" /></ion-buttons>
    <ion-title>Brani</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['link-groups']">Link</ion-button>
      <ion-button [routerLink]="['new']" aria-label="Crea"><ion-icon slot="icon-only" name="add" /></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="load($event)"><ion-refresher-content /></ion-refresher>
  @if (loading) {
    <ion-list>
      @for (item of [1,2,3]; track item) {
        <ion-item><ion-label><ion-skeleton-text [animated]="true" style="width:55%" /><ion-skeleton-text [animated]="true" style="width:35%" /></ion-label></ion-item>
      }
    </ion-list>
  } @else if (error) {
    <div class="state"><ion-icon name="alert-circle" /><ion-text color="danger">{{ error }}</ion-text><ion-button fill="outline" (click)="load()">Riprova</ion-button></div>
  } @else if (!songs.length) {
    <div class="state"><ion-icon name="git-network" /><ion-text>Nessun brano presente.</ion-text><ion-button [routerLink]="['new']">Crea brano</ion-button></div>
  } @else {
    <ion-list inset>
      @for (song of songs; track song.id) {
        <ion-item button detail [routerLink]="[song.id]">
          <ion-label>
            <h2>{{ song.title }}</h2>
            <p>{{ subtitle(song) }}</p>
          </ion-label>
        </ion-item>
      }
    </ion-list>
  }
</ion-content>
