<ion-header><ion-toolbar><ion-buttons slot="start"><ion-back-button defaultHref="../" /></ion-buttons><ion-title>Editor locandina</ion-title><ion-buttons slot="end"><ion-button (click)="save()">Salva</ion-button></ion-buttons></ion-toolbar></ion-header>
<ion-content class="ion-padding">
  <div class="editor-layout">
    <div>
      <ion-list>
        <ion-list-header><ion-label>Template</ion-label></ion-list-header>
        <ion-item><ion-input label="Nome template" labelPlacement="stacked" [(ngModel)]="name" /></ion-item>
        <ion-item><ion-select label="Formato" labelPlacement="stacked" interface="popover" [ngModel]="document.format.id" (ngModelChange)="changeFormat($event)">@for (format of formats; track format.id) {<ion-select-option [value]="format.id">{{ format.label }} · {{ format.width }}×{{ format.height }}</ion-select-option>}</ion-select></ion-item>
        <ion-item><ion-label>Sfondo PNG o JPG</ion-label><ion-button slot="end" fill="outline" (click)="backgroundInput.click()">Sfoglia</ion-button></ion-item>
        <input #backgroundInput hidden type="file" accept="image/png,image/jpeg" (change)="uploadBackground($event)" />
      </ion-list>
      <ion-list-header><ion-label>Campi dinamici</ion-label></ion-list-header>
      @for (preset of presets; track preset.key) {<ion-button size="small" fill="outline" [disabled]="hasField(preset.key)" (click)="addField(preset.key)">+ {{ preset.label }}</ion-button>}
    </div>
    <div class="canvas"><app-poster-canvas [document]="document" [selectedId]="selectedId" (selectedIdChange)="selectedId = $event" /></div>
    <div>
      <ion-list>
        <ion-list-header><ion-label>Stile campo</ion-label></ion-list-header>
        @if (selected) {
          <ion-item><ion-input label="Valore di esempio" labelPlacement="stacked" [(ngModel)]="selected.sampleValue" (ngModelChange)="updateSelected()" /></ion-item>
          <ion-item><ion-select label="Font" labelPlacement="stacked" interface="popover" [(ngModel)]="selected.fontFamily" (ngModelChange)="updateSelected()">@for (font of fonts; track font) {<ion-select-option [value]="font">{{ font }}</ion-select-option>}</ion-select></ion-item>
          <ion-item><ion-input label="Dimensione" labelPlacement="stacked" type="number" min="16" max="220" [(ngModel)]="selected.fontSize" (ngModelChange)="updateSelected()" /></ion-item>
          <ion-item><ion-input label="Colore (HEX)" labelPlacement="stacked" [(ngModel)]="selected.color" (ngModelChange)="updateSelected()" /></ion-item>
          <ion-item><ion-select label="Allineamento" labelPlacement="stacked" interface="popover" [(ngModel)]="selected.textAlign" (ngModelChange)="updateSelected()"><ion-select-option value="left">Sinistra</ion-select-option><ion-select-option value="center">Centro</ion-select-option><ion-select-option value="right">Destra</ion-select-option></ion-select></ion-item>
          <ion-item><ion-checkbox [(ngModel)]="selected.uppercase" (ngModelChange)="updateSelected()">Maiuscolo</ion-checkbox></ion-item>
          <ion-button color="danger" fill="outline" (click)="removeSelected()">Rimuovi campo</ion-button>
        } @else {<ion-note>Seleziona un campo sulla locandina per modificarlo.</ion-note>}
      </ion-list>
      <ion-button expand="block" (click)="exportPng()">Esporta PNG {{ document.format.width }}×{{ document.format.height }}</ion-button>
    </div>
  </div>
</ion-content>
