<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="repertorio" [href]="tabHref('repertorio')">
      <ion-icon aria-hidden="true" name="musical-notes-outline"></ion-icon>
      <ion-label>Repertorio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="prove" [href]="tabHref('prove')">
      <ion-icon aria-hidden="true" name="mic-outline"></ion-icon>
      <ion-label>Prove</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="concerti" [href]="tabHref('concerti')">
      <ion-icon aria-hidden="true" name="radio-outline"></ion-icon>
      <ion-label>Concerti</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scalette" [href]="tabHref('scalette')">
      <ion-icon aria-hidden="true" name="list-outline"></ion-icon>
      <ion-label>Scalette</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="band" [href]="tabHref('band')">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>Band</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
