<ion-header><ion-toolbar><ion-title>Recupera password</ion-title></ion-toolbar></ion-header>
<ion-content class="ion-padding"><form [formGroup]="form" (ngSubmit)="submit()"><ion-item><ion-label position="stacked">Email</ion-label><ion-input type="email" autocomplete="email" formControlName="email" /></ion-item>@if (success) {
<ion-note color="success">{{ success }}</ion-note>
}@if (error) {
<ion-note color="danger">{{ error }}</ion-note>
}<ion-button expand="block" class="ion-margin-top" type="submit" [disabled]="loading">@if(loading){<ion-spinner name="crescent"/>}@else{Invia link}</ion-button></form><ion-button expand="block" fill="clear" routerLink="/login">Torna al login</ion-button></ion-content>
